<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="ServerBindingTcp" closeTimeout="00:00:10" openTimeout="00:00:10"
          receiveTimeout="24.00:00:00" sendTimeout="00:00:10">
          <reliableSession inactivityTimeout="24.00:00:00" enabled="false" />
          <security mode="None">
            <transport protectionLevel="None" />
          </security>
        </binding>
      </netTcpBinding>
      <wsDualHttpBinding>
        <binding name="ServerBindingHttp" closeTimeout="00:00:20" openTimeout="00:00:15"
          receiveTimeout="00:00:20" sendTimeout="00:00:20" bypassProxyOnLocal="false">
          <security mode="None" />
        </binding>
      </wsDualHttpBinding>
    </bindings>
    <services>
      <service name="Faat.ControllerService.FaatService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="ServerBindingTcp"
          name="Tcp" contract="Faat.ControllerService.IFaatService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" name="Mex" contract="IMetadataExchange" />
        <endpoint binding="wsDualHttpBinding" bindingConfiguration="ServerBindingHttp"
          name="Http" contract="Faat.ControllerService.IFaatService" />
        <host>
          <timeouts openTimeout="00:00:10" />
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
